body {
 margin: 50px;
}

#grid {
    display: flex;
    flex-flow: column wrap;
    height: 800px;
    width: 800px;
    margin: auto;
    border-style: solid;
    border-color: black;
}

#change {
    display: flex;
    margin: auto;
    border-style: solid;
    border-color: blue;
    margin-bottom: 30px;
    width: 235px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    /* padding: 0px; */
    vertical-align: middle;
}
