/* body {
    margin-top: 50px;
    margin-bottom: 50px;
}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    max-height: 900px;
} */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

#grid {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    margin: auto;
}